* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  margin-left: auto;
  margin-right: auto;
  max-width: 2560px;
  width: 100%;
  background-color: #0186c4;
  height: 100vh;
  text-align: center;
  color: #ffffff;
}

.fullClock {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

#greet {
  font-size: 80px;
  font-weight: normal;
  padding: 50px;
}

hr {
  margin: auto;
  width: 80px;
  border: 10px solid #ffffff;
}

#clock {
  font-size: 130px;
  font-weight: bolder;
  padding: 40px;
}

#date {
  font-size: 40px;
  font-weight: normal;
  padding: 20px;
}
